@using StackExchange.Opserver.Controllers
@using StackExchange.Opserver.Data.SQL
@using StackExchange.Opserver.Views.SQL
@model DashboardModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("SQL Dashboard");
    this.SetTopNodes(SQLModule.AllInstances, "SQL", Model.CurrentInstance, Model.View == SQLViews.Servers ? Url.Action(nameof(SQLController.Instance)) : null);
}
@section head {
    <script>
        $(function() {
            Status.Dashboard.init({ refresh: @(Model.Refresh.ToString()) });
            Status.SQL.init({ node: @((Model.CurrentInstance?.Name ?? "").ToJson()) });
        });
    </script>
}
@helper TabLink(SQLViews view, string action, string name, bool includeParams = true)
{
    <li class="@(Model.View == view ? "active" : null)">
        <a href="@Url.Action(action, includeParams && Model.CurrentInstance != null ? new {node = Model.CurrentInstance.Name} : null)">@name</a>
    </li>
}
<ul class="nav nav-tabs nav-tabs-right">
    @TabLink(SQLViews.Servers, nameof(SQLController.Dashboard), "所有服务", false)
    @TabLink(SQLViews.Jobs, nameof(SQLController.AllJobs), "所有作业", false)
    @TabLink(SQLViews.Instance, nameof(SQLController.Instance), "实例")
    @TabLink(SQLViews.Top, nameof(SQLController.Top), "常用")
    @TabLink(SQLViews.Active, nameof(SQLController.Active), "活动")
    @TabLink(SQLViews.Connections, nameof(SQLController.Connections), "连接")
    @TabLink(SQLViews.Databases, nameof(SQLController.Databases), "数据库")
</ul>
<div>
    @if (Model.View != SQLViews.Servers && Model.View != SQLViews.Jobs && Model.CurrentInstance == null)
    {
        @Html.Partial("Instance.Selector")
    }
    @RenderBody()
</div>